
$componentSize: 20rem;

page-home {
    
    .serviceLayout {
        margin: 0.5rem;
        position: relative;
        width: $componentSize;
        height: $componentSize;
        display: inline-block;
    }
}
